body {
    margin: auto;
    font-family: sans-serif;    
    text-align: center;
}

h1 {
    text-align: center;
}

.content {
    margin: auto;
    border-style: dashed;
    background-color: darkkhaki;
}

table {
    margin: auto;    
}

td, th {
    text-align: center;
    padding: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #000;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
