body {
    margin: auto;
    font-family: sans-serif;    
}

.content {
    margin: auto;
    border-style: dashed;
    background-color: darkkhaki;
}

table {
    margin: auto;    
}

td, th {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #000;
}
