<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">     
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <footer>
        <a href="https://daltonlima.com">DaltonLima.com</a><br>
        <a href="https://www.linkedin.com/in/daltonlima/">linkedin.com/in/daltonlima</a><br>
        <a href="https://github.com/daltonbr/flask-todo">source code</a></footer>
    </footer>
</body>
</html>